.pokePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;
    min-height: 100vh;
}

.upperHalf {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    border-radius: 0 0 5rem 5rem;
}

.pokeID {
    font-size: 1.8rem;
    font-weight: 500;
}

.pokeName {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.pokeImg {
    width: 400px;
}

.lowerHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}

.pokeTypeContainer {
    display: flex;
}

.pokeType {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    margin: 0 0.5rem;
}

.normal {
    background: #a5a5a5;
}

.fire {
    background: #e95c4d;
}

.water {
    background: #43ccff;
}

.grass {
    background: #00ca91;
}

.electric {
    background: #f9be00;
}

.ice {
    background: #66d1e5;
}

.fighting {
    background: #e81319;
}

.poison {
    background: #611380;
}

.ground {
    background: #bfac21;
}

.flying {
    background: #5eb9b2;
}

.psychic {
    background: #8a0532;
}

.bug {
    background: #aedf78;
}

.rock {
    background: #776a3e;
}

.ghost {
    background: #8e55a4;
}

.dark {
    background: #2d221c;
}

.dragon {
    background: #29036a;
}

.steel {
    background: #7b8e8a;
}

.fairy {
    background: #f87ea7;
}
