.pokePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperHalf {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}

.pokeID {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
}

.pokeName {
    font-size: 3rem;
    font-weight: 700;
}

.pokeImg {
    width: 400px;
}

.lowerHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2rem;
    top: -50px;
    padding-top: 2rem;
    background-color: #fff;
    width: 100%;
    border-radius: 5rem 5rem 0 0;
}

.fire {
    background-color: #FDDFDF;
}

.grass {
    background-color: #DEFDE0;
}

.electric {
    background-color: #FCF7DE;
}

.water {
    background-color: #DEF3FD;
}

.ground {
    background-color: #f4e7da;
}

.rock {
    background-color: #d5d5d4;
}

.fairy {
    background-color: #fceaff;
}

.psychic {
    background-color: #eaeda1;
}

.dragon {
    background-color: #97b3e6;
}

.flying {
    background-color: #F5F5F5;
}

.fighting {
    background-color: #E6E0D4;
}

.normal {
    background-color: #F5F5F5;
}

.poison {
    background-color: #98d7a5;
}

.bug {
    background-color: #f8d5a3;
}
