.pokePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;
    min-height: 100vh;

    --imgWidth: 400px;
    --overallWidth: 300px;
    --WHWidth: 150px;
}

.flexContainer {
    display: flex;
}

.pokeTitle {
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
}

.upperHalf {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    border-radius: 0 0 5rem 5rem;
}

.pokeID {
    font-size: 1.8rem;
    font-weight: 500;
}

.pokeName {
    min-width: var(--overallWidth);
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.pokeImg {
    width: var(--imgWidth);
}

.lowerHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    min-width: var(--overallWidth);
}

.pokeTypeContainer {
    min-width: var(--overallWidth);
    display: flex;
    justify-content: center;
}

.pokeType {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    margin: 1rem 1rem 0 1rem;
}

.pokeWeightHeightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: var(--WHWidth);
}

.pokeWeightHeight {
    font-size: 1.5rem;
    color: #fff;
    margin: 2rem 0 0.05rem 0;
}

.pokeSubtitle {
    font-size: 1.2rem;
    color: #ccc;
    margin: 0.05rem 0 2rem 0;
}

.pokeStatsContainer {
    min-width: var(--overallWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokeStatLine {
    width: 100%;
    display: flex;
    align-items: center;
}

.pokeStatName {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    width: 50%;
    text-align: center;
}

.pokeStatBar {
    width: 50%;
}

.pokeStatBar[value] {
    appearance: none;
}

.normal {
    background: #a5a5a5;
}

.fire {
    background: #e95c4d;
}

.water {
    background: #43ccff;
}

.grass {
    background: #00ca91;
}

.electric {
    background: #f9be00;
}

.ice {
    background: #66d1e5;
}

.fighting {
    background: #e81319;
}

.poison {
    background: #611380;
}

.ground {
    background: #bfac21;
}

.flying {
    background: #5eb9b2;
}

.psychic {
    background: #8a0532;
}

.bug {
    background: #aedf78;
}

.rock {
    background: #776a3e;
}

.ghost {
    background: #8e55a4;
}

.dark {
    background: #2d221c;
}

.dragon {
    background: #29036a;
}

.steel {
    background: #7b8e8a;
}

.fairy {
    background: #f87ea7;
}
